.input-validation-error {
    color:red;
    
    border-color:red;
}

.field-validation-error {
    color: red;
}
.validation-summary-error {
    color: red;
}

.see_more {
    color:darkcyan;
    font-weight:bold;
}
.see_more:hover {
    color: red;
    cursor:pointer;
    text-decoration:underline;
    font-weight: bold;
}

img.worker {
    width:100px;
    height:100px;
    display:block;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}


img.edit_image {
    width: 200px;
    height: 200px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}