USE [master]
GO
/****** Object:  Database [MEISTER]    Script Date: 6.2.2026 г. 9:39:46 ******/
CREATE DATABASE [MEISTER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEISTER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEISTER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEISTER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEISTER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEISTER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEISTER]
GO
/****** Object:  Table [dbo].[DECLARE_WORKER_FREE]    Script Date: 6.2.2026 г. 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DECLARE_WORKER_FREE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOUR_ID] [int] NULL,
	[WORKER_CAPABILITY_ID] [int] NULL,
	[AD_TEXT] [nvarchar](max) NULL,
	[WATCH_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAX_WAGE]    Script Date: 6.2.2026 г. 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAX_WAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAPTION] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_CATEGORY]    Script Date: 6.2.2026 г. 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAPTION] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_START_HOURS]    Script Date: 6.2.2026 г. 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_START_HOURS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SHOUR] [int] NOT NULL,
	[SMINUTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKER]    Script Date: 6.2.2026 г. 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FNAME] [nvarchar](50) NOT NULL,
	[LNAME] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PHOTO] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKER_CAPABILITY]    Script Date: 6.2.2026 г. 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKER_CAPABILITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORKER_ID] [int] NULL,
	[WORK_CATEGORY_ID] [int] NULL,
	[PRICE] [decimal](10, 2) NULL,
	[TAX_WAGE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DECLARE_WORKER_FREE]  WITH CHECK ADD FOREIGN KEY([HOUR_ID])
REFERENCES [dbo].[WORK_START_HOURS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DECLARE_WORKER_FREE]  WITH CHECK ADD FOREIGN KEY([WORKER_CAPABILITY_ID])
REFERENCES [dbo].[WORKER_CAPABILITY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WORKER_CAPABILITY]  WITH CHECK ADD FOREIGN KEY([TAX_WAGE_ID])
REFERENCES [dbo].[TAX_WAGE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WORKER_CAPABILITY]  WITH CHECK ADD FOREIGN KEY([WORK_CATEGORY_ID])
REFERENCES [dbo].[WORK_CATEGORY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WORKER_CAPABILITY]  WITH CHECK ADD FOREIGN KEY([WORKER_ID])
REFERENCES [dbo].[WORKER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
